<ion-view title="Profile">
	<ion-content class="padding">
	
	
	<button class="button button-icon" ng-click="openProfileDialogModal()">
        <i class="icon ion-compose"></i>
    </button>
    <button class="button button-icon" ng-click="upload()">
        <i class="icon ion-upload"></i>
    </button>
    
    
    <a class="item item-thumbnail-left" href="#">
      <img ng-src="{{profileImageUrl}}">
      <h1>{{user.family}}, {{user.name}}</h1>
  	  <h2>Age {{calculateAge()}}</h2>
      <h2>Lives in {{user.country}}</h2>
      <!-- goalkeeper, defenders, midfielders, and forwards -->
      <h2>Position, {{user.position}}</h2>
      <h2>Dominant Leg, {{user.dominantLeg}}</h2>
	  <h2><italic>{{user.description}}</italic></h2>
    </a>
	</ion-content>
</ion-view>